# Extract Data from Chronic Conditions Spending

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Read the data into a DataFrame
sf_data = pd.ExcelFile("../Resources/County_Table_Chronic_Conditions_Spending_2017_cwc.xlsx")

#Get the sheet names
sf_data.sheet_names

['Overview', 'Actual Spending', 'Standardized Spending']

In [3]:
# Read in data from crowdfunding_info sheet
CCSdf = pd.read_excel(sf_data, sheet_name = 'Standardized Spending', header=4)

CCSdf.head()

,State,County,State/County FIPS Code,Alcohol Abuse,Alzheimer's Disease/Dementia,Arthritis,Asthma,Atrial Fibrillation,Autism Spectrum Disorders,Cancer,...,Drug Abuse/Substance Abuse,HIV/AIDS,Heart Failure,Hepatitis (Chronic Viral B & C),Hyperlipidemia,Hypertension,Ischemic Heart Disease,Osteoporosis,Schizophrenia/Other Psychotic Disorders,Stroke
0,National,,,23286.529689,24401.247934,15590.372744,20878.470334,24280.974682,8021.075929,19814.121326,...,23700.882625,17677.64435,27909.095461,23422.140118,13599.649156,14122.013262,19060.953716,17621.945167,21552.606107,31007.675635
1,Alabama,,,24132.900061,24152.76375,15391.887201,21178.737655,24905.221552,6661.846551,20750.617803,...,21402.895501,15744.308071,26783.429818,26020.845798,13596.792387,13765.515699,18698.056614,17847.837425,21944.69297,29820.140891
2,Alabama,Autauga,01001,24621.651589,23356.411028,15559.738465,24155.333544,26302.700089,*,22073.296227,...,28304.850595,18368.655385,30458.394289,41532.73963,14052.96176,14213.038435,18323.477443,20901.27009,22606.80805,31647.457358
3,Alabama,Baldwin,01003,20640.209127,19679.536289,13638.628706,18129.579945,21838.151243,6441.664815,18720.317547,...,17741.780282,9975.626046,25511.650695,19984.771667,11751.536597,12701.906851,15839.001746,15752.001745,24040.268484,25862.162026
4,Alabama,Barbour,01005,27763.970991,25922.579229,15811.482986,21143.858667,26248.773191,*,20777.192722,...,21361.801238,15110.750741,30264.805922,19487.172941,13013.695938,13861.414145,20641.88506,19739.497772,21668.997637,33761.185134

In [4]:
CCSdf.columns

Index(['State', 'County', 'State/County FIPS Code', 'Alcohol Abuse',
       'Alzheimer's Disease/Dementia ', 'Arthritis ', 'Asthma ',
       'Atrial Fibrillation ', 'Autism Spectrum Disorders ', 'Cancer ',
       'Chronic Kidney Disease ', 'COPD ', 'Depression ', 'Diabetes ',
       'Drug Abuse/Substance Abuse', 'HIV/AIDS', 'Heart Failure ',
       'Hepatitis                                 (Chronic Viral B & C)',
       'Hyperlipidemia ', 'Hypertension ', 'Ischemic Heart Disease ',
       'Osteoporosis ', 'Schizophrenia/Other Psychotic Disorders ', 'Stroke '],
      dtype='object')

In [5]:
df = CCSdf.rename(columns={'State/County FIPS Code': 'FIPS',
    'Alcohol Abuse': 'AlcoholAbuse',
    "Alzheimer's Disease/Dementia ": 'Dementia',
    'Arthritis ': 'Arthritis',
    'Asthma ': 'Asthma',
    'Atrial Fibrillation ': 'AFHeartDisease',
    'Autism Spectrum Disorders ': 'Autism',
    'Cancer ': 'Cancer',
    'Chronic Kidney Disease ':'ChronicKidneyDisease', 
    'COPD ':  'COPD',
    'Depression ':  'Depression',
    'Diabetes ': 'Diabetes',
    'Drug Abuse/Substance Abuse': 'SubstanceAbuse',
    'HIV/AIDS': 'AIDS',
    'Heart Failure ': 'HeartFailure',
    'Hepatitis                                 (Chronic Viral B & C)': 'Hepatitis',
    'Hyperlipidemia ': 'Hyperlipidemia',
    'Hypertension ': 'Hypertension',
    'Ischemic Heart Disease ': 'CoronaryArtery',
    'Osteoporosis ': 'Osteoporosis',
    'Schizophrenia/Other Psychotic Disorders ': 'Psychotic',
    'Stroke ': 'Stroke',})

In [6]:
df.columns

Index(['State', 'County', 'FIPS', 'AlcoholAbuse', 'Dementia', 'Arthritis',
       'Asthma', 'AFHeartDisease', 'Autism', 'Cancer', 'ChronicKidneyDisease',
       'COPD', 'Depression', 'Diabetes', 'SubstanceAbuse', 'AIDS',
       'HeartFailure', 'Hepatitis', 'Hyperlipidemia', 'Hypertension',
       'CoronaryArtery', 'Osteoporosis', 'Psychotic', 'Stroke'],
      dtype='object')

In [7]:
cols = df.columns.to_series().reset_index(drop = True)
print(cols)

0                    State
1                   County
2                     FIPS
3             AlcoholAbuse
4                 Dementia
5                Arthritis
6                   Asthma
7           AFHeartDisease
8                   Autism
9                   Cancer
10    ChronicKidneyDisease
11                    COPD
12              Depression
13                Diabetes
14          SubstanceAbuse
15                    AIDS
16            HeartFailure
17               Hepatitis
18          Hyperlipidemia
19            Hypertension
20          CoronaryArtery
21            Osteoporosis
22               Psychotic
23                  Stroke
dtype: object

In [8]:
cols = cols[2:]
print(cols)

2                     FIPS
3             AlcoholAbuse
4                 Dementia
5                Arthritis
6                   Asthma
7           AFHeartDisease
8                   Autism
9                   Cancer
10    ChronicKidneyDisease
11                    COPD
12              Depression
13                Diabetes
14          SubstanceAbuse
15                    AIDS
16            HeartFailure
17               Hepatitis
18          Hyperlipidemia
19            Hypertension
20          CoronaryArtery
21            Osteoporosis
22               Psychotic
23                  Stroke
dtype: object

In [9]:
for c in cols:
    df[c] = pd.to_numeric(df[c], errors='coerce')
   
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3255 entries, 0 to 3254
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   State                 3254 non-null   object
 1   County                3253 non-null   object
 2   FIPS                  3198 non-null   float64
 3   AlcoholAbuse          2963 non-null   float64
 4   Dementia              3178 non-null   float64
 5   Arthritis             3200 non-null   float64
 6   Asthma                3111 non-null   float64
 7   AFHeartDisease        3177 non-null   float64
 8   Autism                1633 non-null   float64
 9   Cancer                3173 non-null   float64
 10  ChronicKidneyDisease  3199 non-null   float64
 11  COPD                  3187 non-null   float64
 12  Depression            3193 non-null   float64
 13  Diabetes              3200 non-null   float64
 14  SubstanceAbuse        2991 non-null   float64
 15  AIDS                  1579 non-null   float64
 16  HeartFailure          3192 non-null   float64
 17  Hepatitis             2285 non-null   float64
 18  Hyperlipidemia        3200 non-null   float64
 19  Hypertension          3201 non-null   float64
 20  CoronaryArtery        3199 non-null   float64
 21  Osteoporosis          3142 non-null   float64
 22  Psychotic             2989 non-null   float64
 23  Stroke                3084 non-null   float64
dtypes: float64(22), object(2)
memory usage: 610.4+ KB

In [10]:
col_list = list(df)
print(col_list)

['State', 'County', 'FIPS', 'AlcoholAbuse', 'Dementia', 'Arthritis', 'Asthma', 'AFHeartDisease', 'Autism', 'Cancer', 'ChronicKidneyDisease', 'COPD', 'Depression', 'Diabetes', 'SubstanceAbuse', 'AIDS', 'HeartFailure', 'Hepatitis', 'Hyperlipidemia', 'Hypertension', 'CoronaryArtery', 'Osteoporosis', 'Psychotic', 'Stroke']

In [11]:
col_list=col_list[3::]
print(col_list)

['AlcoholAbuse', 'Dementia', 'Arthritis', 'Asthma', 'AFHeartDisease', 'Autism', 'Cancer', 'ChronicKidneyDisease', 'COPD', 'Depression', 'Diabetes', 'SubstanceAbuse', 'AIDS', 'HeartFailure', 'Hepatitis', 'Hyperlipidemia', 'Hypertension', 'CoronaryArtery', 'Osteoporosis', 'Psychotic', 'Stroke']

In [12]:
df['TotalCost'] = df[col_list].sum(axis=1)
df.head()

,State,County,FIPS,AlcoholAbuse,Dementia,Arthritis,Asthma,AFHeartDisease,Autism,Cancer,...,AIDS,HeartFailure,Hepatitis,Hyperlipidemia,Hypertension,CoronaryArtery,Osteoporosis,Psychotic,Stroke,TotalCost
0,National,,NaN,23286.529689,24401.247934,15590.372744,20878.470334,24280.974682,8021.075929,19814.121326,...,17677.644350,27909.095461,23422.140118,13599.649156,14122.013262,19060.953716,17621.945167,21552.606107,31007.675635,428259.998953
1,Alabama,,NaN,24132.900061,24152.763750,15391.887201,21178.737655,24905.221552,6661.846551,20750.617803,...,15744.308071,26783.429818,26020.845798,13596.792387,13765.515699,18698.056614,17847.837425,21944.692970,29820.140891,423940.150203
2,Alabama,Autauga,1001.0,24621.651589,23356.411028,15559.738465,24155.333544,26302.700089,NaN,22073.296227,...,18368.655385,30458.394289,41532.739630,14052.961760,14213.038435,18323.477443,20901.270090,22606.808050,31647.457358,462749.966759
3,Alabama,Baldwin,1003.0,20640.209127,19679.536289,13638.628706,18129.579945,21838.151243,6441.664815,18720.317547,...,9975.626046,25511.650695,19984.771667,11751.536597,12701.906851,15839.001746,15752.001745,24040.268484,25862.162026,372607.710575
4,Alabama,Barbour,1005.0,27763.970991,25922.579229,15811.482986,21143.858667,26248.773191,NaN,20777.192722,...,15110.750741,30264.805922,19487.172941,13013.695938,13861.414145,20641.885060,19739.497772,21668.997637,33761.185134,430453.887053

In [13]:
df["FIPS"].count()

3198

In [16]:
df['FIPS'] = df['FIPS'].astype(int)
display(df.dtypes)

State                    object
County                   object
FIPS                      int32
AlcoholAbuse            float64
Dementia                float64
Arthritis               float64
Asthma                  float64
AFHeartDisease          float64
Autism                  float64
Cancer                  float64
ChronicKidneyDisease    float64
COPD                    float64
Depression              float64
Diabetes                float64
SubstanceAbuse          float64
AIDS                    float64
HeartFailure            float64
Hepatitis               float64
Hyperlipidemia          float64
Hypertension            float64
CoronaryArtery          float64
Osteoporosis            float64
Psychotic               float64
Stroke                  float64
TotalCost               float64
dtype: object

# Reading in the 500 city data to limit counties of interest

In [19]:
# Bringing in 500 city data to generate unique list of cities
city_file_path = "../ProcessedData/500_City_cleaned.csv"
citydf = pd.read_csv(city_file_path)
citydf.head()

,StateAbbr,PlaceName,PlaceFIPS,TractFIPS,Place_TractID,Population2010,Insurance,HighBloodPressure,Cancer,Asthma,HeartDisease,AnnualCheckUps,Smokes,MentalHealthIssues,Latitude,Longitude,newFIPS,CountyFIPS
0,AL,Birmingham,107000,1073003200,0107000-01073003200,931.0,26.8,57.0,6.0,14.4,11.1,78.2,29.6,22.0,33.509402,-86.885908,1073,1073
1,AL,Birmingham,107000,1073003300,0107000-01073003300,947.0,21.4,55.2,6.8,12.9,9.7,80.1,22.6,16.7,33.517126,-86.891382,1073,1073
2,AL,Birmingham,107000,1073010500,0107000-01073010500,114.0,23.9,60.5,7.1,13.6,11.1,80.7,26.5,18.6,33.436379,-86.912892,1073,1073
3,AL,Birmingham,107000,1073010701,0107000-01073010701,74.0,19.8,24.9,2.7,11.2,2.4,66.2,18.1,16.1,33.473886,-86.814649,1073,1073
4,AL,Birmingham,107000,1073010801,0107000-01073010801,168.0,7.3,33.0,7.4,8.9,4.5,73.7,8.5,8.8,33.514098,-86.746697,1073,1073

In [20]:
citydf = citydf[['StateAbbr','PlaceName','PlaceFIPS','TractFIPS','Place_TractID','CountyFIPS']]

In [21]:
FIPS_want = citydf['CountyFIPS'].unique().tolist()

print(FIPS_want[0:5])
len(FIPS_want)

[1073, 1117, 1083, 1089, 1097]

251

In [22]:
newdf = df[df.FIPS.isin(FIPS_want)]
newdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 251 entries, 38 to 3238
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   State                 251 non-null    object
 1   County                251 non-null    object
 2   FIPS                  251 non-null    int32
 3   AlcoholAbuse          251 non-null    float64
 4   Dementia              251 non-null    float64
 5   Arthritis             251 non-null    float64
 6   Asthma                251 non-null    float64
 7   AFHeartDisease        251 non-null    float64
 8   Autism                242 non-null    float64
 9   Cancer                251 non-null    float64
 10  ChronicKidneyDisease  251 non-null    float64
 11  COPD                  251 non-null    float64
 12  Depression            251 non-null    float64
 13  Diabetes              251 non-null    float64
 14  SubstanceAbuse        251 non-null    float64
 15  AIDS                  248 non-null    float64
 16  HeartFailure          251 non-null    float64
 17  Hepatitis             251 non-null    float64
 18  Hyperlipidemia        251 non-null    float64
 19  Hypertension          251 non-null    float64
 20  CoronaryArtery        251 non-null    float64
 21  Osteoporosis          251 non-null    float64
 22  Psychotic             251 non-null    float64
 23  Stroke                251 non-null    float64
 24  TotalCost             251 non-null    float64
dtypes: float64(22), int32(1), object(2)
memory usage: 50.0+ KB

In [23]:
FIPS = df.FIPS.unique()
print(FIPS[0:5])

[1001 1003 1005 1007 1009]

In [24]:
FIPS2 = newdf.FIPS.unique()
print(FIPS2[0:5])

[1073 1083 1089 1097 1101]

In [25]:
linkeddf = citydf.merge(newdf, how='left', left_on='CountyFIPS', right_on='FIPS')
linkeddf.head()

,StateAbbr,PlaceName,PlaceFIPS,TractFIPS,Place_TractID,CountyFIPS,State,County,FIPS,AlcoholAbuse,...,AIDS,HeartFailure,Hepatitis,Hyperlipidemia,Hypertension,CoronaryArtery,Osteoporosis,Psychotic,Stroke,TotalCost
0,AL,Birmingham,107000,1073003200,0107000-01073003200,1073,Alabama,Jefferson,1073,28065.310654,...,16273.587562,30255.834117,32975.504105,15415.573716,15218.437417,21404.634337,19403.031677,22090.977918,34328.945095,472312.202094
1,AL,Birmingham,107000,1073003300,0107000-01073003300,1073,Alabama,Jefferson,1073,28065.310654,...,16273.587562,30255.834117,32975.504105,15415.573716,15218.437417,21404.634337,19403.031677,22090.977918,34328.945095,472312.202094
2,AL,Birmingham,107000,1073010500,0107000-01073010500,1073,Alabama,Jefferson,1073,28065.310654,...,16273.587562,30255.834117,32975.504105,15415.573716,15218.437417,21404.634337,19403.031677,22090.977918,34328.945095,472312.202094
3,AL,Birmingham,107000,1073010701,0107000-01073010701,1073,Alabama,Jefferson,1073,28065.310654,...,16273.587562,30255.834117,32975.504105,15415.573716,15218.437417,21404.634337,19403.031677,22090.977918,34328.945095,472312.202094
4,AL,Birmingham,107000,1073010801,0107000-01073010801,1073,Alabama,Jefferson,1073,28065.310654,...,16273.587562,30255.834117,32975.504105,15415.573716,15218.437417,21404.634337,19403.031677,22090.977918,34328.945095,472312.202094

In [26]:
linkeddf.columns

Index(['StateAbbr', 'PlaceName', 'PlaceFIPS', 'TractFIPS', 'Place_TractID',
       'CountyFIPS', 'State', 'County', 'FIPS', 'AlcoholAbuse', 'Dementia',
       'Arthritis', 'Asthma', 'AFHeartDisease', 'Autism', 'Cancer',
       'ChronicKidneyDisease', 'COPD', 'Depression', 'Diabetes',
       'SubstanceAbuse', 'AIDS', 'HeartFailure', 'Hepatitis', 'Hyperlipidemia',
       'Hypertension', 'CoronaryArtery', 'Osteoporosis', 'Psychotic', 'Stroke',
       'TotalCost'],
      dtype='object')

In [27]:
linkeddf = linkeddf[['State','StateAbbr','County', 'FIPS','Asthma','AFHeartDisease','COPD','Depression','HeartFailure','Hypertension','CoronaryArtery','Psychotic','Stroke','TotalCost']]

In [28]:
linkeddf.head()

,State,StateAbbr,County,FIPS,Asthma,AFHeartDisease,COPD,Depression,HeartFailure,Hypertension,CoronaryArtery,Psychotic,Stroke,TotalCost
0,Alabama,AL,Jefferson,1073,21757.522534,27331.927441,27268.357869,22037.223923,30255.834117,15218.437417,21404.634337,22090.977918,34328.945095,472312.202094
1,Alabama,AL,Jefferson,1073,21757.522534,27331.927441,27268.357869,22037.223923,30255.834117,15218.437417,21404.634337,22090.977918,34328.945095,472312.202094
2,Alabama,AL,Jefferson,1073,21757.522534,27331.927441,27268.357869,22037.223923,30255.834117,15218.437417,21404.634337,22090.977918,34328.945095,472312.202094
3,Alabama,AL,Jefferson,1073,21757.522534,27331.927441,27268.357869,22037.223923,30255.834117,15218.437417,21404.634337,22090.977918,34328.945095,472312.202094
4,Alabama,AL,Jefferson,1073,21757.522534,27331.927441,27268.357869,22037.223923,30255.834117,15218.437417,21404.634337,22090.977918,34328.945095,472312.202094

In [29]:
df = linkeddf.drop_duplicates(ignore_index = True)
df = df.rename(columns={'FIPS': 'CountyFIPS'})

In [30]:
df.count()

State             251
StateAbbr         251
County            251
CountyFIPS        251
Asthma            251
AFHeartDisease    251
COPD              251
Depression        251
HeartFailure      251
Hypertension      251
CoronaryArtery    251
Psychotic         251
Stroke            251
TotalCost         251
dtype: int64

In [31]:
# Saving Cleaned data into csv
output_file_path = "../ProcessedData/Chronic_Conditions_Spending.csv"
df.to_csv(output_file_path, index=False)

### end of code