# Extract Data from 500 City Study
    - Limit the data to Outcomes and Inputs of Interest

In [1]:
import pandas as pd

In [2]:
# Read the data into a Pandas DataFrame
df = pd.read_csv('C:/Users/carry/BootCamp/project-one/Resources/500_Cities__Census_Tract-level_Data__GIS_Friendly_Format___2019_release.csv')
df.head()

,StateAbbr,PlaceName,PlaceFIPS,TractFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,...,PAPTEST_Crude95CI,PHLTH_CrudePrev,PHLTH_Crude95CI,SLEEP_CrudePrev,SLEEP_Crude95CI,STROKE_CrudePrev,STROKE_Crude95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,Geolocation
0,AL,Birmingham,107000,1073000100,0107000-01073000100,"3,042",24.4,"(21.2, 27.8)",31.2,"(30.1, 32.2)",...,"(83.4, 86.6)",20.5,"(18.9, 22.2)",45.5,"(44.3, 46.5)",5.5,"( 5.0, 5.9)",28.9,"(23.7, 35.1)","(33.57943283260, -86.7228323926)"
1,AL,Birmingham,107000,1073000300,0107000-01073000300,"2,735",30.4,"(27.1, 33.7)",30.5,"(29.3, 31.7)",...,"(81.9, 85.6)",22.2,"(20.4, 24.0)",44.5,"(43.2, 45.7)",6.1,"( 5.5, 6.8)",32.9,"(25.5, 40.2)","(33.54282086860, -86.7524339780)"
2,AL,Birmingham,107000,1073000400,0107000-01073000400,"3,338",24.7,"(21.1, 28.5)",31.5,"(30.2, 32.9)",...,"(82.3, 86.8)",19.4,"(17.5, 21.4)",45.7,"(44.2, 47.0)",5.6,"( 5.0, 6.2)",28.6,"(22.0, 35.1)","(33.56324496330, -86.7640474064)"
3,AL,Birmingham,107000,1073000500,0107000-01073000500,"2,864",25.2,"(21.6, 29.0)",35.0,"(33.5, 36.4)",...,"(82.1, 86.5)",21.7,"(19.7, 23.9)",46.1,"(44.5, 47.4)",7.3,"( 6.5, 8.2)",34.0,"(24.4, 42.9)","(33.54424045940, -86.7749130719)"
4,AL,Birmingham,107000,1073000700,0107000-01073000700,"2,577",29.0,"(24.5, 33.8)",36.3,"(34.9, 37.7)",...,"(82.2, 87.1)",25.5,"(23.1, 28.0)",48.3,"(46.6, 49.7)",9.0,"( 8.1, 10.0)",43.2,"(33.2, 53.2)","(33.55254061390, -86.8016893706)"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27210 entries, 0 to 27209
Data columns (total 63 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   StateAbbr               27210 non-null  object
 1   PlaceName               27210 non-null  object
 2   PlaceFIPS               27210 non-null  int64
 3   TractFIPS               27210 non-null  int64
 4   Place_TractID           27210 non-null  object
 5   Population2010          27210 non-null  object
 6   ACCESS2_CrudePrev       27209 non-null  float64
 7   ACCESS2_Crude95CI       27209 non-null  object
 8   ARTHRITIS_CrudePrev     27210 non-null  float64
 9   ARTHRITIS_Crude95CI     27210 non-null  object
 10  BINGE_CrudePrev         27210 non-null  float64
 11  BINGE_Crude95CI         27210 non-null  object
 12  BPHIGH_CrudePrev        27210 non-null  float64
 13  BPHIGH_Crude95CI        27210 non-null  object
 14  BPMED_CrudePrev         27210 non-null  float64
 15  BPMED_Crude95CI         27210 non-null  object
 16  CANCER_CrudePrev        27210 non-null  float64
 17  CANCER_Crude95CI        27210 non-null  object
 18  CASTHMA_CrudePrev       27210 non-null  float64
 19  CASTHMA_Crude95CI       27210 non-null  object
 20  CHD_CrudePrev           27210 non-null  float64
 21  CHD_Crude95CI           27210 non-null  object
 22  CHECKUP_CrudePrev       27210 non-null  float64
 23  CHECKUP_Crude95CI       27210 non-null  object
 24  CHOLSCREEN_CrudePrev    27210 non-null  float64
 25  CHOLSCREEN_Crude95CI    27210 non-null  object
 26  COLON_SCREEN_CrudePrev  27191 non-null  float64
 27  COLON_SCREEN_Crude95CI  27191 non-null  object
 28  COPD_CrudePrev          27210 non-null  float64
 29  COPD_Crude95CI          27210 non-null  object
 30  COREM_CrudePrev         27107 non-null  float64
 31  COREM_Crude95CI         27107 non-null  object
 32  COREW_CrudePrev         27101 non-null  float64
 33  COREW_Crude95CI         27101 non-null  object
 34  CSMOKING_CrudePrev      27210 non-null  float64
 35  CSMOKING_Crude95CI      27210 non-null  object
 36  DENTAL_CrudePrev        27210 non-null  float64
 37  DENTAL_Crude95CI        27210 non-null  object
 38  DIABETES_CrudePrev      27210 non-null  float64
 39  DIABETES_Crude95CI      27210 non-null  object
 40  HIGHCHOL_CrudePrev      27210 non-null  float64
 41  HIGHCHOL_Crude95CI      27210 non-null  object
 42  KIDNEY_CrudePrev        27210 non-null  float64
 43  KIDNEY_Crude95CI        27210 non-null  object
 44  LPA_CrudePrev           27210 non-null  float64
 45  LPA_Crude95CI           27210 non-null  object
 46  MAMMOUSE_CrudePrev      27173 non-null  float64
 47  MAMMOUSE_Crude95CI      27173 non-null  object
 48  MHLTH_CrudePrev         27210 non-null  float64
 49  MHLTH_Crude95CI         27210 non-null  object
 50  OBESITY_CrudePrev       27210 non-null  float64
 51  OBESITY_Crude95CI       27210 non-null  object
 52  PAPTEST_CrudePrev       25008 non-null  float64
 53  PAPTEST_Crude95CI       25008 non-null  object
 54  PHLTH_CrudePrev         27210 non-null  float64
 55  PHLTH_Crude95CI         27210 non-null  object
 56  SLEEP_CrudePrev         27210 non-null  float64
 57  SLEEP_Crude95CI         27210 non-null  object
 58  STROKE_CrudePrev        27210 non-null  float64
 59  STROKE_Crude95CI        27210 non-null  object
 60  TEETHLOST_CrudePrev     27150 non-null  float64
 61  TEETHLOST_Crude95CI     27150 non-null  object
 62  Geolocation             27210 non-null  object
dtypes: float64(28), int64(2), object(33)
memory usage: 13.1+ MB

In [4]:
newdf = df.drop(['ACCESS2_Crude95CI','ARTHRITIS_CrudePrev','ARTHRITIS_Crude95CI','BINGE_CrudePrev','BINGE_Crude95CI','BPHIGH_Crude95CI','BPMED_CrudePrev','BPMED_Crude95CI','CANCER_Crude95CI','CASTHMA_Crude95CI','CHD_Crude95CI','CHECKUP_Crude95CI','CHOLSCREEN_CrudePrev','CHOLSCREEN_Crude95CI','COLON_SCREEN_CrudePrev','COLON_SCREEN_Crude95CI','COPD_CrudePrev','COPD_Crude95CI','COREM_CrudePrev','COREM_Crude95CI','COREW_CrudePrev','COREW_Crude95CI','CSMOKING_Crude95CI','DENTAL_CrudePrev','DENTAL_Crude95CI','DIABETES_CrudePrev','DIABETES_Crude95CI','HIGHCHOL_CrudePrev','HIGHCHOL_Crude95CI','KIDNEY_CrudePrev','KIDNEY_Crude95CI','LPA_CrudePrev','LPA_Crude95CI','MAMMOUSE_CrudePrev','MAMMOUSE_Crude95CI','MHLTH_Crude95CI','OBESITY_CrudePrev','OBESITY_Crude95CI','PAPTEST_CrudePrev','PAPTEST_Crude95CI','PHLTH_CrudePrev','PHLTH_Crude95CI','SLEEP_CrudePrev','SLEEP_Crude95CI','STROKE_CrudePrev','STROKE_Crude95CI','TEETHLOST_CrudePrev','TEETHLOST_Crude95CI'], axis=1)
newdf.head()

,StateAbbr,PlaceName,PlaceFIPS,TractFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,BPHIGH_CrudePrev,CANCER_CrudePrev,CASTHMA_CrudePrev,CHD_CrudePrev,CHECKUP_CrudePrev,CSMOKING_CrudePrev,MHLTH_CrudePrev,Geolocation
0,AL,Birmingham,107000,1073000100,0107000-01073000100,"3,042",24.4,47.7,5.3,13.4,7.8,74.8,27.9,20.5,"(33.57943283260, -86.7228323926)"
1,AL,Birmingham,107000,1073000300,0107000-01073000300,"2,735",30.4,48.2,4.7,12.5,8.6,72.1,29.3,21.2,"(33.54282086860, -86.7524339780)"
2,AL,Birmingham,107000,1073000400,0107000-01073000400,"3,338",24.7,49.1,5.3,13.3,7.5,76.6,25.9,18.8,"(33.56324496330, -86.7640474064)"
3,AL,Birmingham,107000,1073000500,0107000-01073000500,"2,864",25.2,54.1,6.0,13.6,9.6,78.2,26.3,19.4,"(33.54424045940, -86.7749130719)"
4,AL,Birmingham,107000,1073000700,0107000-01073000700,"2,577",29.0,56.5,5.9,14.7,11.4,78.1,30.9,23.1,"(33.55254061390, -86.8016893706)"

In [5]:
# Splitting Geolocation into Lat & Long
newdf[["Latitude","Longitude"]] = newdf["Geolocation"].str.split(',', n=1, expand=True)
newdf.head()

,StateAbbr,PlaceName,PlaceFIPS,TractFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,BPHIGH_CrudePrev,CANCER_CrudePrev,CASTHMA_CrudePrev,CHD_CrudePrev,CHECKUP_CrudePrev,CSMOKING_CrudePrev,MHLTH_CrudePrev,Geolocation,Latitude,Longitude
0,AL,Birmingham,107000,1073000100,0107000-01073000100,"3,042",24.4,47.7,5.3,13.4,7.8,74.8,27.9,20.5,"(33.57943283260, -86.7228323926)",(33.57943283260,-86.7228323926)
1,AL,Birmingham,107000,1073000300,0107000-01073000300,"2,735",30.4,48.2,4.7,12.5,8.6,72.1,29.3,21.2,"(33.54282086860, -86.7524339780)",(33.54282086860,-86.7524339780)
2,AL,Birmingham,107000,1073000400,0107000-01073000400,"3,338",24.7,49.1,5.3,13.3,7.5,76.6,25.9,18.8,"(33.56324496330, -86.7640474064)",(33.56324496330,-86.7640474064)
3,AL,Birmingham,107000,1073000500,0107000-01073000500,"2,864",25.2,54.1,6.0,13.6,9.6,78.2,26.3,19.4,"(33.54424045940, -86.7749130719)",(33.54424045940,-86.7749130719)
4,AL,Birmingham,107000,1073000700,0107000-01073000700,"2,577",29.0,56.5,5.9,14.7,11.4,78.1,30.9,23.1,"(33.55254061390, -86.8016893706)",(33.55254061390,-86.8016893706)

In [6]:
# Removing the parens
newdf["Latitude"] = newdf["Latitude"].str.replace('(','', regex=False)
newdf["Longitude"] = newdf["Longitude"].replace('\)','', regex=True)
newdf.head()

,StateAbbr,PlaceName,PlaceFIPS,TractFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,BPHIGH_CrudePrev,CANCER_CrudePrev,CASTHMA_CrudePrev,CHD_CrudePrev,CHECKUP_CrudePrev,CSMOKING_CrudePrev,MHLTH_CrudePrev,Geolocation,Latitude,Longitude
0,AL,Birmingham,107000,1073000100,0107000-01073000100,"3,042",24.4,47.7,5.3,13.4,7.8,74.8,27.9,20.5,"(33.57943283260, -86.7228323926)",33.57943283260,-86.7228323926
1,AL,Birmingham,107000,1073000300,0107000-01073000300,"2,735",30.4,48.2,4.7,12.5,8.6,72.1,29.3,21.2,"(33.54282086860, -86.7524339780)",33.54282086860,-86.7524339780
2,AL,Birmingham,107000,1073000400,0107000-01073000400,"3,338",24.7,49.1,5.3,13.3,7.5,76.6,25.9,18.8,"(33.56324496330, -86.7640474064)",33.56324496330,-86.7640474064
3,AL,Birmingham,107000,1073000500,0107000-01073000500,"2,864",25.2,54.1,6.0,13.6,9.6,78.2,26.3,19.4,"(33.54424045940, -86.7749130719)",33.54424045940,-86.7749130719
4,AL,Birmingham,107000,1073000700,0107000-01073000700,"2,577",29.0,56.5,5.9,14.7,11.4,78.1,30.9,23.1,"(33.55254061390, -86.8016893706)",33.55254061390,-86.8016893706

In [7]:
newdf = newdf.drop('Geolocation', axis=1)

In [8]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27210 entries, 0 to 27209
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   StateAbbr           27210 non-null  object
 1   PlaceName           27210 non-null  object
 2   PlaceFIPS           27210 non-null  int64
 3   TractFIPS           27210 non-null  int64
 4   Place_TractID       27210 non-null  object
 5   Population2010      27210 non-null  object
 6   ACCESS2_CrudePrev   27209 non-null  float64
 7   BPHIGH_CrudePrev    27210 non-null  float64
 8   CANCER_CrudePrev    27210 non-null  float64
 9   CASTHMA_CrudePrev   27210 non-null  float64
 10  CHD_CrudePrev       27210 non-null  float64
 11  CHECKUP_CrudePrev   27210 non-null  float64
 12  CSMOKING_CrudePrev  27210 non-null  float64
 13  MHLTH_CrudePrev     27210 non-null  float64
 14  Latitude            27210 non-null  object
 15  Longitude           27210 non-null  object
dtypes: float64(8), int64(2), object(6)
memory usage: 3.3+ MB

In [9]:
ren = newdf.rename(columns={"ACCESS2_CrudePrev": "Insurance", "BPHIGH_CrudePrev": "HighBloodPressure","CANCER_CrudePrev":"Cancer","CASTHMA_CrudePrev": "Asthma","CHD_CrudePrev": "HeartDisease", "CHECKUP_CrudePrev": "AnnualCheckUps","CSMOKING_CrudePrev": "Smokes", "MHLTH_CrudePrev": "MentalHealthIssues"})
ren.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27210 entries, 0 to 27209
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   StateAbbr           27210 non-null  object
 1   PlaceName           27210 non-null  object
 2   PlaceFIPS           27210 non-null  int64
 3   TractFIPS           27210 non-null  int64
 4   Place_TractID       27210 non-null  object
 5   Population2010      27210 non-null  object
 6   Insurance           27209 non-null  float64
 7   HighBloodPressure   27210 non-null  float64
 8   Cancer              27210 non-null  float64
 9   Asthma              27210 non-null  float64
 10  HeartDisease        27210 non-null  float64
 11  AnnualCheckUps      27210 non-null  float64
 12  Smokes              27210 non-null  float64
 13  MentalHealthIssues  27210 non-null  float64
 14  Latitude            27210 non-null  object
 15  Longitude           27210 non-null  object
dtypes: float64(8), int64(2), object(6)
memory usage: 3.3+ MB

In [10]:
ren['Population2010'] = pd.to_numeric(ren['Population2010'], errors='coerce')
ren['Latitude'] = pd.to_numeric(ren['Latitude'], errors='coerce')
ren['Longitude'] = pd.to_numeric(ren['Longitude'], errors='coerce')

ren.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27210 entries, 0 to 27209
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   StateAbbr           27210 non-null  object
 1   PlaceName           27210 non-null  object
 2   PlaceFIPS           27210 non-null  int64
 3   TractFIPS           27210 non-null  int64
 4   Place_TractID       27210 non-null  object
 5   Population2010      1379 non-null   float64
 6   Insurance           27209 non-null  float64
 7   HighBloodPressure   27210 non-null  float64
 8   Cancer              27210 non-null  float64
 9   Asthma              27210 non-null  float64
 10  HeartDisease        27210 non-null  float64
 11  AnnualCheckUps      27210 non-null  float64
 12  Smokes              27210 non-null  float64
 13  MentalHealthIssues  27210 non-null  float64
 14  Latitude            27210 non-null  float64
 15  Longitude           27210 non-null  float64
dtypes: float64(11), int64(2), object(3)
memory usage: 3.3+ MB

In [11]:
# Drop null rows
ren = ren.dropna()

In [12]:
ren.isnull().sum()

StateAbbr             0
PlaceName             0
PlaceFIPS             0
TractFIPS             0
Place_TractID         0
Population2010        0
Insurance             0
HighBloodPressure     0
Cancer                0
Asthma                0
HeartDisease          0
AnnualCheckUps        0
Smokes                0
MentalHealthIssues    0
Latitude              0
Longitude             0
dtype: int64

In [13]:
# Find duplicates entries

print(f"Duplicate entries: {ren.duplicated().sum()}")

Duplicate entries: 0

In [15]:
# Saving Cleaned data into csv
output_file_path = "../ProcessedData/500_City_cleaned.csv"
ren.to_csv(output_file_path, index=False)

end of code