# Extract Data from WebFire Point Sources

In [1]:
import pandas as pd

In [2]:
# Read the data into a Pandas DataFrame
df = pd.read_csv('../Resources/WebFIRE-BULK-DATA-ST-05-10-2023.csv')
df.head()

,Submission_ID,Facility_Name,Facility_City,Facility_State,Facility_County,Facility_Zip_Code,Facility_Latitude,Facility_Longitude,FRS_ID,AFS_NUMBER,...,Regulatory_Limit,Stack_Temperature_F,Stack_Flow_Rate_acfm,Method_Mass_A,Method_Mass_B,Mass_Units,FILTER_TEMPERATURE_1_F,Filter_Temperature_2_F,Emissions_Value_LB_MMBtu_CO2,Emissions_Value_LB_MMBtu_O2
0,80254195,"AK Steel, Inc.",Middletown,OH,US,45043,NaN,NaN,110000392557,NaN,...,18.000000 ppm,122.50,"26,613.3",128.60,,mg,291.75,NaN,0.0,0.0
1,80254195,"AK Steel, Inc.",Middletown,OH,US,45043,NaN,NaN,110000392557,NaN,...,18.000000 ppm,123.42,"26,236.3",170.10,,mg,284.125,NaN,0.0,0.0
2,80254195,"AK Steel, Inc.",Middletown,OH,US,45043,NaN,NaN,110000392557,NaN,...,18.000000 ppm,121.04,"25,788.6",149.30,,mg,281.833333333333,NaN,0.0,0.0
3,80256784,Agrium CPO,Soda Springs,ID,Caribou Co,83276,NaN,NaN,110000468351,NaN,...,0.058000 lb / Tons of P2O5 Fed,152.08,"110,285.6",4.71,,mg,NaN,NaN,0.0,0.0
4,80256784,Agrium CPO,Soda Springs,ID,Caribou Co,83276,NaN,NaN,110000468351,NaN,...,0.058000 lb / Tons of P2O5 Fed,152.17,"111,286.5",5.21,,mg,NaN,NaN,0.0,0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1407 entries, 0 to 1406
Data columns (total 59 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Submission_ID                 1407 non-null   int64
 1   Facility_Name                 1407 non-null   object
 2   Facility_City                 1407 non-null   object
 3   Facility_State                1407 non-null   object
 4   Facility_County               1407 non-null   object
 5   Facility_Zip_Code             1407 non-null   object
 6   Facility_Latitude             428 non-null    float64
 7   Facility_Longitude            428 non-null    float64
 8   FRS_ID                        1407 non-null   int64
 9   AFS_NUMBER                    405 non-null    object
 10  Location_ID                   1407 non-null   object
 11  Location_Name                 1407 non-null   object
 12  Is_Location_Controlled        1407 non-null   int64
 13  Duct_Diameter                 1407 non-null   float64
 14  Permit_Source_Name            1046 non-null   object
 15  Permit_Source_ID              932 non-null    object
 16  Air_Permit_Number             1177 non-null   object
 17  SCC                           1407 non-null   int64
 18  NAICS                         874 non-null    float64
 19  Process_Description           1407 non-null   object
 20  TEST_RUN_VALUE                1407 non-null   float64
 21  AVERAGE_VALUE                 0 non-null      float64
 22  Calculated_Average            1407 non-null   int64
 23  Test_Run_Number               1407 non-null   object
 24  Pollutant_Name                1407 non-null   object
 25  CAS_Number                    1407 non-null   object
 26  NEI_Pollutant_Code            1407 non-null   object
 27  POLLUTANT_UNIT                1229 non-null   object
 28  Measure                       1229 non-null   object
 29  Material                      1229 non-null   object
 30  Action                        1229 non-null   object
 31  Detection_Limit_Flag          800 non-null    object
 32  Test_Report_Rating            1275 non-null   float64
 33  Test_Run_Date                 1407 non-null   object
 34  Test_Method_Notes             1407 non-null   object
 35  Test_Method                   1407 non-null   object
 36  Testing_Company               1407 non-null   object
 37  Testing_Project_Number        1193 non-null   object
 38  ERT_Version                   1407 non-null   object
 39  Test_Report_Reference         1407 non-null   object
 40  Control_1                     1407 non-null   object
 41  Control_2                     459 non-null    object
 42  Control_3                     171 non-null    object
 43  Control_4                     57 non-null     object
 44  Control_5                     24 non-null     object
 45  PROCESS_PARAMETER             1229 non-null   object
 46  PROCESS_PARAMETER_RATE        1229 non-null   object
 47  PROCESS_PARAMETER_VALUE       1211 non-null   float64
 48  Regulation_Description        692 non-null    object
 49  Regulatory_Limit              692 non-null    object
 50  Stack_Temperature_F           1407 non-null   object
 51  Stack_Flow_Rate_acfm          1322 non-null   object
 52  Method_Mass_A                 1407 non-null   float64
 53  Method_Mass_B                 1407 non-null   object
 54  Mass_Units                    1406 non-null   object
 55  FILTER_TEMPERATURE_1_F        1154 non-null   object
 56  Filter_Temperature_2_F        1052 non-null   object
 57  Emissions_Value_LB_MMBtu_CO2  1403 non-null   float64
 58  Emissions_Value_LB_MMBtu_O2   1407 non-null   float64
dtypes: float64(11), int64(5), object(43)
memory usage: 648.7+ KB

In [4]:
df = df[['Facility_Name','Facility_City','Facility_State','Facility_County','Facility_Zip_Code','Facility_Latitude','Facility_Longitude','Pollutant_Name','Test_Run_Date']]
df.head()

,Facility_Name,Facility_City,Facility_State,Facility_County,Facility_Zip_Code,Facility_Latitude,Facility_Longitude,Pollutant_Name,Test_Run_Date
0,"AK Steel, Inc.",Middletown,OH,US,45043,NaN,NaN,Hydrogen Chloride,2016-11-23T00:00:00
1,"AK Steel, Inc.",Middletown,OH,US,45043,NaN,NaN,Hydrogen Chloride,2016-11-23T00:00:00
2,"AK Steel, Inc.",Middletown,OH,US,45043,NaN,NaN,Hydrogen Chloride,2016-11-23T00:00:00
3,Agrium CPO,Soda Springs,ID,Caribou Co,83276,NaN,NaN,Total Fluoride,2016-03-24T00:00:00
4,Agrium CPO,Soda Springs,ID,Caribou Co,83276,NaN,NaN,Total Fluoride,2016-03-24T00:00:00

In [5]:
df.drop_duplicates(keep='first', ignore_index=True, inplace=True)

In [6]:
# Find duplicates entries

print(f"Duplicate entries: {df.duplicated().sum()}")

Duplicate entries: 0

In [7]:
df.Pollutant_Name.unique()

array(['Hydrogen Chloride', 'Total Fluoride', 'Carbon Dioxide',
       'Filterable Particulate', 'Oxygen', 'Total Particulate',
       'Sulfur Dioxide', 'Arsenic', 'Beryllium', 'Cadmium',
       'Carbon Monoxide', 'Chromium', 'Lead', 'Manganese', 'Nickel',
       'Selenium', 'Nitrogen oxides (NOx)', 'Mercury', 'Total TEQ',
       '1,2,3,4,6,7,8-HpCDD', '1,2,3,4,6,7,8-HpCDF',
       '1,2,3,4,7,8,9-HpCDF', '1,2,3,4,7,8-HxCDD', '1,2,3,4,7,8-HxCDF',
       '1,2,3,6,7,8-HxCDD', '1,2,3,6,7,8-HxCDF', '1,2,3,7,8,9-HxCDD',
       '1,2,3,7,8,9-HxCDF', '1,2,3,7,8-PeCDD', '1,2,3,7,8-PeCDF',
       '2,3,4,6,7,8-HxCDF', '2,3,4,7,8-PeCDF', '2,3,7,8-TCDD',
       '2,3,7,8-TCDF', 'Hydrogen Fluoride', 'OCDD', 'OCDF', 'Other HpCDD',
       'Other HpCDF', 'Other HxCDD', 'Other HxCDF', 'Other PeCDD',
       'Other PeCDF', 'Other TCDD', 'Other TCDF', 'Total Dioxins',
       'Total Furans', 'Mercury Back Half', 'Mercury Front Half',
       'Methylene Chloride Extractable Matter (MCEM)',
       'Particulate Matter (PM)',
       'Total organic compounds (TOC) as Propane'], dtype=object)

In [8]:
# Dropping row where pollutant is Oxygen
df.drop(df[df['Pollutant_Name'] == 'Oxygen'].index, inplace = True)

In [9]:
df.Pollutant_Name.unique()

array(['Hydrogen Chloride', 'Total Fluoride', 'Carbon Dioxide',
       'Filterable Particulate', 'Total Particulate', 'Sulfur Dioxide',
       'Arsenic', 'Beryllium', 'Cadmium', 'Carbon Monoxide', 'Chromium',
       'Lead', 'Manganese', 'Nickel', 'Selenium', 'Nitrogen oxides (NOx)',
       'Mercury', 'Total TEQ', '1,2,3,4,6,7,8-HpCDD',
       '1,2,3,4,6,7,8-HpCDF', '1,2,3,4,7,8,9-HpCDF', '1,2,3,4,7,8-HxCDD',
       '1,2,3,4,7,8-HxCDF', '1,2,3,6,7,8-HxCDD', '1,2,3,6,7,8-HxCDF',
       '1,2,3,7,8,9-HxCDD', '1,2,3,7,8,9-HxCDF', '1,2,3,7,8-PeCDD',
       '1,2,3,7,8-PeCDF', '2,3,4,6,7,8-HxCDF', '2,3,4,7,8-PeCDF',
       '2,3,7,8-TCDD', '2,3,7,8-TCDF', 'Hydrogen Fluoride', 'OCDD',
       'OCDF', 'Other HpCDD', 'Other HpCDF', 'Other HxCDD', 'Other HxCDF',
       'Other PeCDD', 'Other PeCDF', 'Other TCDD', 'Other TCDF',
       'Total Dioxins', 'Total Furans', 'Mercury Back Half',
       'Mercury Front Half',
       'Methylene Chloride Extractable Matter (MCEM)',
       'Particulate Matter (PM)',
       'Total organic compounds (TOC) as Propane'], dtype=object)

In [10]:
df['datetime'] = pd.to_datetime(df['Test_Run_Date'])
df.head()

,Facility_Name,Facility_City,Facility_State,Facility_County,Facility_Zip_Code,Facility_Latitude,Facility_Longitude,Pollutant_Name,Test_Run_Date,datetime
0,"AK Steel, Inc.",Middletown,OH,US,45043,NaN,NaN,Hydrogen Chloride,2016-11-23T00:00:00,2016-11-23
1,Agrium CPO,Soda Springs,ID,Caribou Co,83276,NaN,NaN,Total Fluoride,2016-03-24T00:00:00,2016-03-24
2,"AK Steel, Inc.",Middletown,OH,US,45043,NaN,NaN,Hydrogen Chloride,2017-01-05T00:00:00,2017-01-05
3,Agrium CPO,Soda Springs,ID,Caribou Co,83276,NaN,NaN,Total Fluoride,2016-03-23T00:00:00,2016-03-23
4,"AK Steel, Inc.",Middletown,OH,US,45043,NaN,NaN,Hydrogen Chloride,2017-01-19T00:00:00,2017-01-19

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 371 entries, 0 to 398
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Facility_Name       371 non-null    object
 1   Facility_City       371 non-null    object
 2   Facility_State      371 non-null    object
 3   Facility_County     371 non-null    object
 4   Facility_Zip_Code   371 non-null    object
 5   Facility_Latitude   105 non-null    float64
 6   Facility_Longitude  105 non-null    float64
 7   Pollutant_Name      371 non-null    object
 8   Test_Run_Date       371 non-null    object
 9   datetime            371 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(7)
memory usage: 31.9+ KB

In [12]:
df['Year'] = df['datetime'].dt.year

In [13]:
df.drop(df[df['Year'] < 2017].index, inplace = True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 291 entries, 2 to 398
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Facility_Name       291 non-null    object
 1   Facility_City       291 non-null    object
 2   Facility_State      291 non-null    object
 3   Facility_County     291 non-null    object
 4   Facility_Zip_Code   291 non-null    object
 5   Facility_Latitude   92 non-null     float64
 6   Facility_Longitude  92 non-null     float64
 7   Pollutant_Name      291 non-null    object
 8   Test_Run_Date       291 non-null    object
 9   datetime            291 non-null    datetime64[ns]
 10  Year                291 non-null    int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(7)
memory usage: 27.3+ KB

In [15]:
newdf = df.drop(['Test_Run_Date','datetime','Year','Pollutant_Name'], axis=1)
newdf.head()

,Facility_Name,Facility_City,Facility_State,Facility_County,Facility_Zip_Code,Facility_Latitude,Facility_Longitude
2,"AK Steel, Inc.",Middletown,OH,US,45043,NaN,NaN
4,"AK Steel, Inc.",Middletown,OH,US,45043,NaN,NaN
5,"AK Steel, Inc.",Middletown,OH,US,45043,NaN,NaN
6,IPL - Burlington Generating Station,Burlington,IA,Des Moines Co,52601,40.741591,-91.118781
7,IPL - Burlington Generating Station,Burlington,IA,Des Moines Co,52601,40.741591,-91.118781

In [17]:
newdf.drop_duplicates(keep='first', ignore_index=True, inplace=True)
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Facility_Name       34 non-null     object
 1   Facility_City       34 non-null     object
 2   Facility_State      34 non-null     object
 3   Facility_County     34 non-null     object
 4   Facility_Zip_Code   34 non-null     object
 5   Facility_Latitude   16 non-null     float64
 6   Facility_Longitude  16 non-null     float64
dtypes: float64(2), object(5)
memory usage: 2.0+ KB

In [ ]:
Facility_Zip_Code

In [18]:
# Saving Cleaned data into csv
output_file_path = "../ProcessedData/Point_Source.csv"
newdf.to_csv(output_file_path, index=False)

end of code