# Extract Data from WebFire Point Sources

In [1]:
import pandas as pd

#### Read the data into a Pandas DataFrame
df = pd.read_csv('../Resources/WebFIRE-BULK-DATA-ST-05-10-2023.csv')
df.head()

###### df.info()

In [4]:
df = df[['Facility_Name','Facility_City','Facility_State','Facility_County','Facility_Zip_Code','Facility_Latitude','Facility_Longitude','Pollutant_Name','Test_Run_Date']]
df.head()

,Facility_Name,Facility_City,Facility_State,Facility_County,Facility_Zip_Code,Facility_Latitude,Facility_Longitude,Pollutant_Name,Test_Run_Date
0,"AK Steel, Inc.",Middletown,OH,US,45043,NaN,NaN,Hydrogen Chloride,2016-11-23T00:00:00
1,"AK Steel, Inc.",Middletown,OH,US,45043,NaN,NaN,Hydrogen Chloride,2016-11-23T00:00:00
2,"AK Steel, Inc.",Middletown,OH,US,45043,NaN,NaN,Hydrogen Chloride,2016-11-23T00:00:00
3,Agrium CPO,Soda Springs,ID,Caribou Co,83276,NaN,NaN,Total Fluoride,2016-03-24T00:00:00
4,Agrium CPO,Soda Springs,ID,Caribou Co,83276,NaN,NaN,Total Fluoride,2016-03-24T00:00:00

In [5]:
df.drop_duplicates(keep='first', ignore_index=True, inplace=True)

In [6]:
# Find duplicates entries

print(f"Duplicate entries: {df.duplicated().sum()}")

Duplicate entries: 0

In [7]:
df.Pollutant_Name.unique()

array(['Hydrogen Chloride', 'Total Fluoride', 'Carbon Dioxide',
       'Filterable Particulate', 'Oxygen', 'Total Particulate',
       'Sulfur Dioxide', 'Arsenic', 'Beryllium', 'Cadmium',
       'Carbon Monoxide', 'Chromium', 'Lead', 'Manganese', 'Nickel',
       'Selenium', 'Nitrogen oxides (NOx)', 'Mercury', 'Total TEQ',
       '1,2,3,4,6,7,8-HpCDD', '1,2,3,4,6,7,8-HpCDF',
       '1,2,3,4,7,8,9-HpCDF', '1,2,3,4,7,8-HxCDD', '1,2,3,4,7,8-HxCDF',
       '1,2,3,6,7,8-HxCDD', '1,2,3,6,7,8-HxCDF', '1,2,3,7,8,9-HxCDD',
       '1,2,3,7,8,9-HxCDF', '1,2,3,7,8-PeCDD', '1,2,3,7,8-PeCDF',
       '2,3,4,6,7,8-HxCDF', '2,3,4,7,8-PeCDF', '2,3,7,8-TCDD',
       '2,3,7,8-TCDF', 'Hydrogen Fluoride', 'OCDD', 'OCDF', 'Other HpCDD',
       'Other HpCDF', 'Other HxCDD', 'Other HxCDF', 'Other PeCDD',
       'Other PeCDF', 'Other TCDD', 'Other TCDF', 'Total Dioxins',
       'Total Furans', 'Mercury Back Half', 'Mercury Front Half',
       'Methylene Chloride Extractable Matter (MCEM)',
       'Particulate Matter (PM)',
       'Total organic compounds (TOC) as Propane'], dtype=object)

In [8]:
# Dropping row where pollutant is Oxygen
df.drop(df[df['Pollutant_Name'] == 'Oxygen'].index, inplace = True)

In [9]:
df.Pollutant_Name.unique()

array(['Hydrogen Chloride', 'Total Fluoride', 'Carbon Dioxide',
       'Filterable Particulate', 'Total Particulate', 'Sulfur Dioxide',
       'Arsenic', 'Beryllium', 'Cadmium', 'Carbon Monoxide', 'Chromium',
       'Lead', 'Manganese', 'Nickel', 'Selenium', 'Nitrogen oxides (NOx)',
       'Mercury', 'Total TEQ', '1,2,3,4,6,7,8-HpCDD',
       '1,2,3,4,6,7,8-HpCDF', '1,2,3,4,7,8,9-HpCDF', '1,2,3,4,7,8-HxCDD',
       '1,2,3,4,7,8-HxCDF', '1,2,3,6,7,8-HxCDD', '1,2,3,6,7,8-HxCDF',
       '1,2,3,7,8,9-HxCDD', '1,2,3,7,8,9-HxCDF', '1,2,3,7,8-PeCDD',
       '1,2,3,7,8-PeCDF', '2,3,4,6,7,8-HxCDF', '2,3,4,7,8-PeCDF',
       '2,3,7,8-TCDD', '2,3,7,8-TCDF', 'Hydrogen Fluoride', 'OCDD',
       'OCDF', 'Other HpCDD', 'Other HpCDF', 'Other HxCDD', 'Other HxCDF',
       'Other PeCDD', 'Other PeCDF', 'Other TCDD', 'Other TCDF',
       'Total Dioxins', 'Total Furans', 'Mercury Back Half',
       'Mercury Front Half',
       'Methylene Chloride Extractable Matter (MCEM)',
       'Particulate Matter (PM)',
       'Total organic compounds (TOC) as Propane'], dtype=object)

In [10]:
df['datetime'] = pd.to_datetime(df['Test_Run_Date'])
df.head()

,Facility_Name,Facility_City,Facility_State,Facility_County,Facility_Zip_Code,Facility_Latitude,Facility_Longitude,Pollutant_Name,Test_Run_Date,datetime
0,"AK Steel, Inc.",Middletown,OH,US,45043,NaN,NaN,Hydrogen Chloride,2016-11-23T00:00:00,2016-11-23
1,Agrium CPO,Soda Springs,ID,Caribou Co,83276,NaN,NaN,Total Fluoride,2016-03-24T00:00:00,2016-03-24
2,"AK Steel, Inc.",Middletown,OH,US,45043,NaN,NaN,Hydrogen Chloride,2017-01-05T00:00:00,2017-01-05
3,Agrium CPO,Soda Springs,ID,Caribou Co,83276,NaN,NaN,Total Fluoride,2016-03-23T00:00:00,2016-03-23
4,"AK Steel, Inc.",Middletown,OH,US,45043,NaN,NaN,Hydrogen Chloride,2017-01-19T00:00:00,2017-01-19

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 371 entries, 0 to 398
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Facility_Name       371 non-null    object
 1   Facility_City       371 non-null    object
 2   Facility_State      371 non-null    object
 3   Facility_County     371 non-null    object
 4   Facility_Zip_Code   371 non-null    object
 5   Facility_Latitude   105 non-null    float64
 6   Facility_Longitude  105 non-null    float64
 7   Pollutant_Name      371 non-null    object
 8   Test_Run_Date       371 non-null    object
 9   datetime            371 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(7)
memory usage: 31.9+ KB

In [12]:
df['Year'] = df['datetime'].dt.year

In [13]:
df.drop(df[df['Year'] < 2017].index, inplace = True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 291 entries, 2 to 398
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Facility_Name       291 non-null    object
 1   Facility_City       291 non-null    object
 2   Facility_State      291 non-null    object
 3   Facility_County     291 non-null    object
 4   Facility_Zip_Code   291 non-null    object
 5   Facility_Latitude   92 non-null     float64
 6   Facility_Longitude  92 non-null     float64
 7   Pollutant_Name      291 non-null    object
 8   Test_Run_Date       291 non-null    object
 9   datetime            291 non-null    datetime64[ns]
 10  Year                291 non-null    int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(7)
memory usage: 27.3+ KB

In [15]:
newdf = df.drop(['Test_Run_Date','datetime','Year','Pollutant_Name'], axis=1)
newdf.head()

,Facility_Name,Facility_City,Facility_State,Facility_County,Facility_Zip_Code,Facility_Latitude,Facility_Longitude
2,"AK Steel, Inc.",Middletown,OH,US,45043,NaN,NaN
4,"AK Steel, Inc.",Middletown,OH,US,45043,NaN,NaN
5,"AK Steel, Inc.",Middletown,OH,US,45043,NaN,NaN
6,IPL - Burlington Generating Station,Burlington,IA,Des Moines Co,52601,40.741591,-91.118781
7,IPL - Burlington Generating Station,Burlington,IA,Des Moines Co,52601,40.741591,-91.118781

In [17]:
newdf.drop_duplicates(keep='first', ignore_index=True, inplace=True)
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Facility_Name       34 non-null     object
 1   Facility_City       34 non-null     object
 2   Facility_State      34 non-null     object
 3   Facility_County     34 non-null     object
 4   Facility_Zip_Code   34 non-null     object
 5   Facility_Latitude   16 non-null     float64
 6   Facility_Longitude  16 non-null     float64
dtypes: float64(2), object(5)
memory usage: 2.0+ KB

In [ ]:
Facility_Zip_Code

In [18]:
# Saving Cleaned data into csv
output_file_path = "../ProcessedData/Point_Source.csv"
newdf.to_csv(output_file_path, index=False)

end of code